<div class="col-md-4 col-md-offset-4">
<p>
<h2> Soccer Team </h2>
<br>

  <strong>Title:</strong>
  <%= @team.title %>
</p>

<p>
  <strong>description:</strong>
  <%= @team.desc %>
</p>

<p>
  <strong>location:</strong>
  <%= @team.loc %>
</p>

<%= link_to 'Back to all Teams', teams_path %>
</div>
</div>
</div>