<div class="col-md-4 col-md-offset-4">
  <p>
    <h2> Soccer Team </h2>
    <br>

    <strong>Title:</strong>
    <%= @team.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @team.desc %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @team.loc %>
  </p>

  <br>

  <% list = flickr.photos.search :text => @team.loc + @team.title, :sort => "relevance"%>
  <% search = list.map do |photo|%>
  <% FlickRaw.url_s(photo) %>
  <% end %>

  <% search.each do |photo| %>

  <%=image_tag (photo) %>

  <% end %>

  <br>
  <br>
</div>
</div>
</div>