<div class="col-md-6 col-md-offset-3">
<h2>Welcome to the Soccer Teams App!</h2>
<p>Here you can add your favorite soccer teams, and check out photos of them. </p>
<p> Head on over to: <%= link_to 'All Teams', controller: 'teams' %></p>
</div>
</div>
</div>

