.navbar {
  background-color: #359948;
  border: 0 !important;
}

.index-header{
  padding-top: 30px;
}

#tagged_header{
  padding-bottom: 20px;
}

#welcome_header{
  padding-bottom: 20px;
}

#teams-table{
  margin-bottom: 50px;
}

a:hover {
  background-color: #337AB7; 
}

.table{
  background-color: white !important;
  /*opacity: .7 !important;*/
  color: black;
  border-radius: 10px !important;
  margin-top: 50px;
}

#tag-cloud{
  margin-bottom: 30px;
}

#page-container{
  padding-top: 80px;
}

.intro-divider {
width: 94%;
border-top: 1px solid gray;
border-bottom: 1px solid gray;
}

 body{
  font-size: 18px;
  color: black;
  font-family: 'Architects Daughter', cursive;
 }

.box{
  background-color:rgba(255,255,255,0.4);
  border-radius: 5px;
  padding: 5%;
 }

/* ------------ Carousel ------------ */

#header-carousel {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.navbar-default .navbar-nav > li > a {
color: white;
font-size: 20px;
}

#overlay-text {
  font-family: 'Amatic SC';
  font-size: 150px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 3px 8px #000;
  padding-bottom: 100px;
}

.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:13%;
  left:0;
  width:100%;
  text-align:center;
}


 #soccer_photo{
  width: 70%;
  margin-top: 5%;
 }

 h1, h3{
  text-align: center;
 }

 #error_message{
  text-align: center;
 }

 input.tagcloud{
 text-decoration:none;
  padding: 3px;
 display:inline-block;


}
 input.tagcloud, a:hover{
 text-decoration:none;
  padding: 3px;
 display:inline-block;
 color:#fff;

}


