.navbar {
  background: none !important;
  border: 0 !important;
}

.table{
  background-color: white !important;
  opacity: .7 !important;
  color: black;
  border-radius: 10px !important;
}

 body{
  background-image: asset_url("background.jpg");
  opacity: 50%;
   background-size: 100%;
  font-size: 16px;
  color: white;
  font-family: 'Architects Daughter', cursive;
 }

.box{
  background-color:rgba(255,255,255,0.4);
  border-radius: 5px;
  padding: 5%;
 }



 #soccer_photo{
  width: 70%;
  margin-top: 5%;
 }

 h1, h3{
  text-align: center;
 }

 #error_message{
  text-align: center;
 }

 input.tagcloud{
 text-decoration:none;
  padding: 3px;
 display:inline-block;


}
 input.tagcloud, a:hover{
 text-decoration:none;
  padding: 3px;
 display:inline-block;
 color:#fff;

}